.contact {
  background: var(--color-primary-white);
  padding: 60px 0;
  .form {
    padding: 60px 0;
    width: 100%;
    box-shadow: 0px 2px 5px rgba(89, 89, 89, 0.25);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    .inner {
      max-width: 800px;
      padding: 30px;
    }
    .title {
      color: var(--color-primary-pink);
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 30px;
    }
    .select {
      margin-bottom: 20px;
    }
    h3 {
      font-size: 18px;
      margin-bottom: 20px;
      font-weight: bold;
    }
    .form-field {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      label {
        margin-bottom: 10px;
        font-weight: bold;
      }
      input {
        height: 35px;
        border: 0px;
        border-bottom: 1px solid #cbcbcb;
        font-size: 16px;
        border-radius: 0px;
      }
      .error {
        margin-top: 5px;
        color: red;
        font-size: 14px;
      }
      textarea {
        border: 1px solid #cbcbcb;
        padding: 20px;
        font-size: 16px;
      }
      ::-webkit-input-placeholder {
        /* Edge */
        color: #cbcbcb;
      }

      ::placeholder {
        color: #cbcbcb;
      }
    }
    button {
      background: linear-gradient(96.42deg, #3026dd -9.97%, #c1259a 107.69%);
      color: var(--color-primary-white);
      font-weight: bold;
      border: 0px;
      width: 200px;
      box-shadow: inset -2px -3px 5px rgba(14, 14, 14, 0.25);
      border-radius: 8px;
      padding: 20px 0;
      &[disabled] {
        background: #dddddd;
        cursor: not-allowed;
      }
    }
  }
  label {
    display: flex;
    flex-direction: column;
    span {
      color: var(--color-primary-pink);
      font-size: 20px;
      font-weight: bold;
    }
    input {
      border: 0px;
      border-bottom: 1px solid #cbcbcb;
      padding: 10px 0;
    }
  }
  @media screen and (min-width: 700px) {
    .form {
      h3 {
        font-size: 23px;
      }
    }
  }
}
