.contact {
  background: var(--color-primary-white);
  padding: 60px 0;
  .form {
    width: 100%;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    .title {
      color: var(--color-primary-pink);
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 30px;
    }
    .select {
      margin-bottom: 20px;
      label {
        margin-bottom: 10px;
      }
    }
    button {
      background: linear-gradient(96.42deg, #3026dd -9.97%, #c1259a 107.69%);
      color: var(--color-primary-white);
      font-weight: bold;
      border: 0px;
      width: 200px;
      box-shadow: inset -2px -3px 5px rgba(14, 14, 14, 0.25);
      border-radius: 8px;
      padding: 20px 0;
      align-self: center;
    }
    > div,
    label {
      margin-bottom: 20px;
    }
  }
  label {
    display: flex;
    flex-direction: column;
    span {
      color: var(--color-primary-pink);
      font-size: 20px;
      font-weight: bold;
    }
    input {
      border: 0px;
      border-bottom: 1px solid #cbcbcb;
      padding: 10px 5px;
    }
  }
}
