.cookie-banner {
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  background: white;
  border-top: 3px solid var(--color-primary-blue);
  z-index: 77;
  width: 100%;
  transform: translateX(-100%);
  .left {
    p {
      font-size: 13px;
      margin-bottom: 5px;
      a {
        font-size: 13px;
        margin-left: 5px;
      }
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    button {
      margin-bottom: 10px;
      background: linear-gradient(96.42deg, #3026dd -9.97%, #c1259a 107.69%);
      color: white;
      border: 0;
      padding: 15px;
      border-radius: 8px;
    }
  }
  .close {
    position: absolute;
    top: 0px;
    right: 10px;
  }
  @media screen and (min-width: 435px) {
    .right {
      flex-direction: row;
      button {
        flex: 1;
        &:nth-of-type(2) {
          margin-left: 15px;
        }
      }
    }
  }
  @media screen and (min-width: 900px) {
    .flex {
      display: flex;
      align-items: center;
    }
    .right {
      margin-left: 10px;
      button {
        margin-bottom: 0;
        width: 150px;
      }
    }
    .close {
      top: -15px;
    }
  }
}
