.CookieConsent {
  font-size: 14px;
  border-top: 3px solid var(--color-primary-blue);
  a {
    margin-left: 5px;
  }
  #rcc-confirm-button {
    background: linear-gradient(
      96.42deg,
      #3026dd -9.97%,
      #c1259a 107.69%
    ) !important;
    color: #fff !important;
    border-radius: 8px !important;
    padding: 10px 0 !important;
    width: 150px;
    transition: opacity 0.3s ease-in-out;
    &:hover {
      opacity: 0.8;
    }
  }
  #rcc-decline-button {
    border-radius: 8px !important;
    padding: 10px 0 !important;
    width: 150px;
  }
}
