.footer {
  padding: 60px 0;
  background: #00365c;
  position: relative;
  .flex {
    display: flex;
    flex-direction: column;
    .logo-small {
      order: 1;
      margin-bottom: 10px;
    }
    .logo {
      display: none;
    }
    ul {
      &.left-menu {
        order: 3;
      }
      &.right-menu {
        order: 2;
      }
      a {
        color: white;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  @media screen and (min-width: 900px) {
    .content-container {
      justify-content: space-between;
    }
    .flex {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      .logo {
        display: inline-flex;
        order: 2;
      }
      ul {
        display: flex;
        align-items: center;
        li {
          a {
            color: white;
            text-decoration: none;
            font-weight: 700;
          }
        }
        &.left-menu {
          order: 3;
          a {
            margin-right: 20px;
          }
        }
        &.right-menu {
          order: 1;
          a {
            margin-left: 20px;
          }
        }
      }
    }
    .logo-small {
      display: none;
    }
    svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 150px;
    }
  }
}
