.footer {
  padding: 30px 0;
  background: #00365c;
  position: relative;
  .flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    .logo {
      margin-bottom: 50px;
    }
    ul {
      li {
        margin-bottom: 15px;
      }
      a {
        color: white;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        &:hover {
          opacity: 0.8;
        }
      }
      &.social-menu {
        margin-top: 20px;
        margin-bottom: 55px;
        display: flex;
        li {
          margin: 0 20px 0 0;
          a {
            padding: 0 10px;
            display: block;
          }
        }
      }
    }
    .lower {
      width: 100%;
      border-top: 1px solid #494949;
      padding-top: 35px;
      font-size: 12px;
      color: #fff;
      p,
      a {
        opacity: 0.5;
        margin: 0 0 10px;
      }
      ul {
        margin-top: 10px;
        display: flex;
        li {
          a {
            font-size: 12px;
            font-weight: normal;
            margin-bottom: 0;
          }
          &:nth-of-type(1) {
            position: relative;
            display: flex;
            align-items: center;
            &:after {
              content: "";
              width: 1px;
              height: 100%;
              display: inline-block;
              background: #494949;
              margin: 0 10px;
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 900px) {
    .content-container {
      justify-content: space-between;
    }
    .flex {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      .logo {
        display: inline-flex;
        order: 2;
      }
      ul {
        display: flex;
        align-items: center;
        li {
          a {
            color: white;
            text-decoration: none;
            font-weight: 700;
          }
        }
        &.left-menu {
          order: 3;
          a {
            margin-right: 20px;
          }
        }
        &.right-menu {
          order: 1;
          a {
            margin-left: 20px;
          }
        }
      }
    }
    .logo-small {
      // display: none;
    }
    svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 150px;
    }
  }
}
