.header {
  position: fixed;
  width: 100%;
  z-index: 3;
  .container {
    justify-content: space-between;
    align-items: center;
  }
  @media screen and (min-width: 900px) {
    padding: 40px 0;
    ul {
      margin-left: auto;
      li {
        a {
          color: white;
          margin-left: 19px;
          text-decoration: none;
        }
      }
    }
  }
}
