.header {
  position: fixed;
  width: 100%;
  z-index: 30;
  padding: 30px 0;
  transition: transform 1.25s var(--primary-ease),
    -webkit-transform 1.25s var(--primary-ease);
  .container {
    justify-content: space-between;
    align-items: center;
  }
  nav {
    display: flex;
    align-items: center;
    a {
      text-transform: uppercase;
      color: white;
      text-decoration: none;
      margin-right: 30px;
      letter-spacing: 2px;
      transition: all 0.45s var(--primary-ease);
      &.active {
        color: black;
      }
    }
  }
  .logo-container {
    .logo {
      display: block;
    }
    .logo-small {
      display: none;
    }
    &.active {
      .logo {
        display: none;
      }
      .logo-small {
        display: block;
      }
    }
  }
  svg {
    width: 100px;
  }
  @media screen and (min-width: 900px) {
    padding: 40px 0;
    svg {
      width: 200px;
    }
    ul {
      display: block;
      margin-left: auto;
      li {
        a {
          color: white;
          margin-left: 19px;
          text-decoration: none;
        }
      }
    }
  }
}
