.vivo-header {
  position: fixed;
  width: 100%;
  z-index: 30;
  padding: 30px 0;
  transition: transform 1.25s var(--primary-ease),
    -webkit-transform 1.25s var(--primary-ease);
  .container {
    justify-content: space-between;
    align-items: center;
  }
  .vivo-header-nav {
    display: flex;
    align-items: center;
    .chat-cta {
      font-weight: 500;
      text-transform: uppercase;
      color: white;
      text-decoration: none;
      margin-right: 30px;
      letter-spacing: 2px;
      transition: all 0.45s var(--primary-ease);
      &.active,
      &:hover {
        color: black;
      }
    }
  }
  .logo-container {
    .logo {
      transition: all 0.3s ease-in;
      opacity: 0;
      right: 0;
      position: relative;
      width: 100px;
    }
    .logo-small {
      position: absolute;
      top: 30px;
      left: 20px;
      svg {
        transition: opacity 0.3s ease-in;
        width: 50px;
        opacity: 1;
      }
    }
    &.active,
    &.scrolled {
      .logo {
        opacity: 0;
        right: 300%;
      }
      .logo-small {
        display: block;
        svg {
          opacity: 1;
        }
      }
    }
  }
  &.scrolled {
    background: rgba(255, 255, 255, 0.8);
    .vivo-header-nav {
      .chat-cta {
        background: radial-gradient(
            circle farthest-corner at center center,
            #3026dd,
            #c1259a
          )
          no-repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &:hover {
          background: radial-gradient(
              circle farthest-corner at center center,
              #c1259a,
              #3026dd
            )
            no-repeat;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
  @media screen and (min-width: 900px) {
    padding: 40px 0;
    .logo-container {
      .logo {
        transition: all 0.3s ease-in;
        opacity: 1;
        right: 0;
        position: relative;
        width: 200px;
      }
      .logo-small {
        position: absolute;
        top: 0;
        left: 0;
        svg {
          transition: opacity 0.3s ease-in;
          width: 50px;
          opacity: 0;
        }
      }
      &.active,
      &.scrolled {
        .logo {
          opacity: 0;
          right: 300%;
        }
        .logo-small {
          display: block;
          svg {
            opacity: 1;
          }
        }
      }
    }
    ul {
      display: block;
      margin-left: auto;
      li {
        .chat-cta {
          color: white;
          margin-left: 19px;
          text-decoration: none;
        }
      }
    }
  }
}
