.hero {
  position: relative;
  padding: 300px 0;
  overflow: hidden;
  @media screen and (min-width: 900px) {
    padding: 0;
    height: 100vh;
    .container {
      height: 100%;
      align-items: center;
    }
    .hero-img {
      position: absolute;
      max-width: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
    .curve {
      position: absolute;
      left: 0;
      bottom: -20px;
      z-index: 2;
    }
    .title {
      font-size: 65px;
      line-height: 80px;
      max-width: 50%;
      color: white;
      font-weight: 700;
    }
  }
}
