.slider {
  position: relative;
  overflow: hidden;
  background: white;
  z-index: 1;
  @media screen and (min-width: 900px) {
    padding: 60px 0;
    .img {
      width: 100%;
      max-width: none;
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%;
    }
    .container {
      z-index: 2;
    }
    .grid {
      display: grid;
      grid-gap: 70px;
      width: 100%;
      grid-template-columns: 248px 1fr;
      .left {
        .title {
          color: white;
          font-size: 40px;
          font-weight: 700;
        }
      }
      .right {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        .item {
          display: flex;
          flex-direction: column;
          border-radius: 8px;
          overflow: hidden;
          background: white;
        }
        .meta {
          padding: 30px;
        }
      }
    }
  }
}
