.sub-footer {
  padding: 30px 30px;
  .box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    .title {
      color: #494949;
      font-weight: 700;
    }
    .text {
      color: #494949;
      font-weight: 400;
      margin-bottom: 34px;
    }
    span {
      color: #494949;
      font-weight: 700;
      margin-bottom: 40px;
    }
    button {
      background: linear-gradient(96.42deg, #3026dd -9.97%, #c1259a 107.69%);
      border-radius: 8px;
      border: 1px solid #ecf2fe;
      box-sizing: border-box;
      padding: 15px;
      width: 205px;
      color: #fff;
      a {
        text-decoration: none;
        color: white;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  @media screen and (min-width: 900px) {
    padding: 50px 0 100px;
    .box {
      .title {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 28px;
      }
      .text {
        max-width: 800px;
      }
    }
  }
}
