.team {
  padding: 30px 0;
  background: var(--color-primary-white);
  .title {
    color: var(--color-primary-pink);
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    .item {
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      .image-container {
        height: 180px;
        position: relative;
        overflow: hidden;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 130%;
          height: auto;
        }
      }
      .meta {
        padding: 10px 0;
      }
      .name {
        text-align: center;
        font-size: 21px;
        font-weight: bold;
        color: var(--color-primary-pink);
        margin-bottom: 10px;
      }
      .role {
        text-align: center;
        color: black;
        font-weight: 300;
      }
      &:hover {
        transform: translateY(-20px);
        .name {
          color: black;
        }
      }
    }
  }
  @media screen and (min-width: 576px) {
    .grid {
      .item {
        .image-container {
          height: 250px;
        }
      }
    }
  }
  @media screen and (min-width: 768px) {
    padding: 60px 0;
    .title {
      font-size: 48px;
      margin-bottom: 50px;
    }
    .grid {
      grid-template-columns: repeat(3, 1fr);
      .item {
        .image-container {
          height: 230px;
        }
      }
    }
  }
  @media screen and (min-width: 992px) {
    .grid {
      grid-template-columns: repeat(4, 1fr);
      .item {
        .image-container {
          height: 250px;
        }
      }
    }
  }
}
