.team {
  background: var(--color-primary-white);
  .grid {
    display: grid;
    gap: 15px;
  }
  @media screen and (min-width: 900px) {
    .grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
