.testimonials {
  padding: 30px 0;
  position: relative;
  overflow: hidden;
  background: #f9f9f9;
  .img {
    position: absolute;
    width: 130%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    max-width: none;
  }
  .title {
    color: #c620b6;
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 700;
  }
  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    .left {
      display: none;
      img {
        width: 100%;
        display: block;
        height: 100%;
      }
    }
    .right {
      width: 100%;
      flex: 1;
      .swiper-container {
        width: 100%;
        color: #494949;
        padding-bottom: 60px;
        .slide {
          width: 100% !important;
          display: flex;
          flex-direction: column;
          p {
            font-weight: bold;
            font-size: 18px;
            margin-top: 10px;
            overflow-y: scroll;
            scrollbar-width: thin;
            height: 100%;
          }
          .client {
            margin-top: 40px;
            display: flex;
            align-items: center;
            font-weight: 300;
            font-size: 14px;
            .position {
              font-weight: 300;
              margin-left: 10px;
              color: #bdbcbc;
              font-size: 14px;
            }
          }
        }
        .swiper-pagination {
          text-align: center;
          .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            background: #494949;
            opacity: 1;
          }
          .swiper-pagination-bullet-active {
            background: #ff9900;
          }
        }
      }
    }
  }
  @media screen and (min-width: 1024px) {
    padding: 100px 0;
    .title {
      font-size: 40px;
      margin-bottom: 30px;
    }
    .grid {
      gap: 50px;
      flex-direction: row;
      grid-template-columns: 1fr 1fr;
      .left {
        display: block;
      }
      .right {
        width: 100%;
        .swiper-container {
          width: 500px;
          .swiper-pagination {
            text-align: left;
          }
        }
      }
    }
  }
  @media screen and (min-width: 1200px) {
    .grid {
      gap: 113px;
      grid-template-columns: 506px 1fr;
    }
  }
}
