.testimonials {
  padding: 30px 0;
  position: relative;
  overflow: hidden;
  .img {
    position: absolute;
    width: 130%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    max-width: none;
  }
  .title {
    color: white;
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 700;
  }
  .grid {
    display: grid;
    grid-template-columns: 506px 1fr;
    align-items: center;
    .left {
      display: none;
      img {
        width: 100%;
        display: block;
        height: 100%;
      }
    }
    .right {
      width: 100%;
      .swiper-container {
        width: 500px;
        color: white;
        padding-bottom: 60px;
        .slide {
          display: flex;
          flex-direction: column;
          p {
            font-weight: 700;
            font-size: 18px;
            margin-top: 10px;
          }
          .client {
            margin-top: 10px;
            display: flex;
            align-items: center;
            .position {
              margin-left: 10px;
              color: #bdbcbc;
            }
          }
        }
        .swiper-pagination {
          text-align: center;
          .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
          }
          .swiper-pagination-bullet-active {
            background: #ff9900;
          }
        }
      }
    }
  }
  @media screen and (min-width: 900px) {
    padding: 95px 0;
    .title {
      font-size: 40px;
      margin-bottom: 30px;
    }
    .grid {
      gap: 113px;
      .left {
        display: block;
      }
      .right {
        width: 100%;
        .swiper-container {
          .swiper-pagination {
            text-align: left;
          }
        }
      }
    }
  }
}
