.text-block {
  padding: 50px 0;
  background: white;
  .container {
    flex-direction: column;
  }
  .title {
    color: #be00ab;
    font-size: 25px;
  }
  .box {
    max-width: 850px;
    .title {
      font-size: 25px;
      font-weight: 700;
      line-height: 33px;
    }
    .text {
      margin-top: 20px;
      font-size: 16px;
      color: #494949;
    }
  }
  @media screen and (min-width: 900px) {
    padding: 70px 0;
    .box {
      max-width: 850px;
      .title {
        font-size: 48px;
        line-height: 63px;
      }
      .text {
        margin-top: 0;
        max-width: 600px;
        font-size: 16px;
        color: #494949;
        margin-top: 45px;
      }
    }
  }
}
