.values {
  padding: 50px 0;
  .grid {
    display: grid;
    padding: 20px 0;
    gap: 30px;
    scroll-padding: 0px 24px;
    grid-auto-flow: column !important;
    overflow: auto hidden !important;
    scroll-snap-type: x mandatory !important;
    gap: 12px !important;
    &:nth-child(n) {
      & > * {
        scroll-snap-align: start !important;
      }
    }
    .item {
      display: flex;
      padding: 30px 0;
      flex-direction: column;
      align-items: center;
      box-shadow: 0px 0px 18px rgba(100, 100, 100, 0.25);
      border-radius: 8px;
      width: 272px;
      height: auto;
      .image {
        height: 120px;
        width: 100%;
        overflow: hidden;
        position: relative;
        margin-bottom: 15px;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      h3 {
        color: #00365c;
        font-weight: bold;
        margin: 10px 0;
        font-size: 23px;
      }
      p {
        max-width: 70%;
        font-weight: 300;
        text-align: center;
      }
    }
  }
  @media screen and (min-width: 768px) {
    padding: 80px 0;
    .grid {
      grid-template-columns: repeat(3, 1fr);
      grid-auto-flow: column !important;
      gap: 20px !important;
      grid-auto-flow: initial !important;
      overflow: none !important;
      scroll-snap-type: none !important;
      .item {
        display: flex;
        padding: 30px 0;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 0px 18px rgba(100, 100, 100, 0.25);
        border-radius: 8px;
        h3 {
          color: #00365c;
          font-weight: bold;
          margin: 10px 0;
          font-size: 20px;
        }
        p {
          max-width: 70%;
          font-weight: 300;
          text-align: center;
        }
      }
    }
  }
  @media screen and (min-width: 900px) {
    .grid {
      .item {
        h3 {
          font-size: 24px;
        }
      }
    }
  }
}
