@import '../../../styles/variables/colors.scss';

button {
    @include purple-gradient(background);
    border-radius: 8px;
    border: 1px solid #ecf2fe;
    box-sizing: border-box;
    padding: 15px;
    width: 205px;
    color: #fff;
    font-family: $roboto;

    &:disabled {
        opacity: 0.6;
        cursor: default;

        &:hover {
            box-shadow: none;
        }

        &:focus {
            box-shadow: none;
        }
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 11px rgba(25, 23, 23, 0.9);
      border: 1px solid transparent;
    }

    &:focus {
        box-shadow: inset -2px -3px 5px rgba(14, 14, 14, 0.25);
    }
}