.numbers {
  padding: 50px 0;
  background: #f9f9f9;
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .number {
    font-size: 35px;
    font-weight: bold;
    background: -webkit-linear-gradient(45deg, #3026dd, #c1259a), no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .text {
    font-size: 14px;
    font-weight: bold;
    background: -webkit-linear-gradient(45deg, #3026dd, #c1259a), no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @media screen and (min-width: 992px) {
    .grid {
      grid-auto-flow: column;
      grid-template-columns: repeat(4, 1fr);
    }
    .number {
      font-size: 65px;
      font-weight: bold;
      background: -webkit-linear-gradient(45deg, #3026dd, #c1259a), no-repeat;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .text {
      font-size: 16px;
    }
    .item {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &:after {
        content: "";
        position: absolute;
        height: 100%;
        width: 1px;
        display: block;
        top: 0;
        right: 0;
        background: -webkit-linear-gradient(45deg, #3026dd, #c1259a), no-repeat;
      }
      &:nth-last-of-type(1) {
        &:after {
          content: none;
        }
      }
    }
  }
}
